.button {
  padding: 10px;
  border: 5px;
  border-radius: 5px;
  background-color: rgb(58, 127, 255);;
  opacity: 0.8;
  font-size: 15px;
  font-weight: 600;
  width: 190px;
  transition: 0.1s;
  cursor: pointer; }

 a:hover div.boton, button:hover {
  opacity: 1;
  transform: scale(1.05);}

  .index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
